/* Global */
* {
    text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
    width: auto;
}

h2 { margin-bottom: 1em; }
h6 { font-size: 0.8em; margin: 2.33em 0 1.33em; font-weight: normal; }
hr { border-top: 1px solid #d6d6d6; }

blockquote {
    display: table;
    border-color: #e0e0e0;
    border-width: 1px 0;
    border-style: dotted;
    margin: 0 0 20px 0;
    padding: 20px 10px 20px 60px;
    background: transparent url("../img/layout/blockquote.png") no-repeat 0 20px;
}

blockquote p {
    margin: 1em 0;
}

.title { font-family: gotham_regular; font-size: 21px; line-height: 1.2em !important; }

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.page-numbers {
    display: none;
}

#infscr-loading {
    display: block;
    margin: auto;
    text-align: center;
}

#infscr-loading img {
    margin: 20px auto 10px;
}

/* Borders */
.border-right { border-right: 1px solid #e6e6e6; }
.border-bottom { border-bottom: 1px solid #e6e6e6; }
.border-left { border-left: 1px solid #e6e6e6; }
.border-top { border-top: 1px solid #e6e6e6; }

/* Case */
.titlecase { text-transform: capitalize; }

.noborder {
	border-top: 0px !important;
	border-bottom: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.nowhitespace {
	padding: 0px !important;
	margin: 0px !important;
}

.nounderline, .nounderline a {
	text-decoration: none;
}

/* Colors */
.blue { color:#0a7bc2 !important; }
.green { color:#21890d !important; }
.white { color:#fff !important; }

/* Backgrounds */
.bluebg { background:#0a7bc2 !important; }
.greenbg { background:#21890d !important; }
.darkgraybg { background: #444444 !important; }

/* Align */
.aligncenter {
	margin: auto;
	display: block;
}

.pushleft {
	float: left;
}

.pushright {
	float: right;
}


/* Breadcrumb */
.breadcrumb {
    width: 76%;
    background-color: transparent;
}

.breadcrumb a {
    font-family: gotham_bold;
    text-decoration: none;
}

/* counter */
.count {
    font-size: 42px;
    color: #c44f57;
}

.count-description {
    font-size: 0.95em;
    padding-right: 15px;
    line-height: 18px;
}

.cleardiv { clear: both; }

.circle {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    background: #47aeb7;
    text-align: center;
    color: #fff;
    /* display: block; */
    margin: 20px auto;
    padding: 14% 3.5%;
    line-height: 1.4em;
    font-size: 1.1em;
}

.circle .large {
    font-size: 2em;
    display: block;
    padding: 10px 0;
    font-family: gotham_bold;
}

.circle a {
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
}

.boxit {
    padding: 25px;
    margin-bottom: 20px;
    background: #eeeeee;
    border-radius: 10px;
}

.boxit li {
	background: url("../img/layout/bullet-arrow-close.png") 0px 4px no-repeat !important;
    margin: 0px !important;
}

.boxit li a {
	text-decoration: none;
}

.large-text {
    font-size: 1.3em;
}

.intro-p {
    font-size: 1.2em;
}

.common-listings .common-listing {
    padding: 2em 0 2em 0;
}

.highlight {
    font-size: 1.5em;
    font-family: gotham_regular;
    line-height: 1em;
    margin: 0;
    color: #0a7bc2;
    vertical-align: middle;
}

.funfact {
	font-family: gotham_regular;
    text-align: center;
    margin: auto;
    padding: 0 5% 25px;
    border-bottom: 1px solid #d6d6d6;
}

/* =Grids and Columns
------------------------------------------------------ */
@media screen and (min-width: 48em) {

	.grid-row .grid_3,
	.main-content .grid-row .grid_3,
	#perspectives-content .grid-row .grid_3 {
		width: 31.90558%;
	}

	.grid-row .grid_3_extended {
		width: 64.89841986%;
	}

}

.wide {
	width: 100%;
	clear: both;
}

.wide object {
	margin: auto;
}

/* jQuery UI */
.ui-accordion .ui-state-default, .ui-accordion .ui-widget-content {
    border: none;
}

.ui-accordion .ui-state-default .ui-icon {
    display: none;
}

.ui-accordion .ui-accordion-header {
    border-top: #d6d6d6 1px solid;
    padding: 0.8em 2em 0.8em 2em;
    margin: 0;
    font-size: 16px;
    background: url("../img/layout/sprite.png") 13px -199px no-repeat;
    cursor: pointer;
    outline: none;
}

.ui-accordion .ui-accordion-header:hover {
    text-decoration: none;
    color: #0a7bc2;
    background-color: #eee;
}

.ui-accordion .ui-accordion-header-active {
    font-family: gotham_bold;
    background-color: #eee;
    color: #0a7bc2;
    background-position: 12px -366px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-accordion .ui-accordion-content {
    background: #eee;
    padding: 1.7em 2em;
    border-top: 1px solid #fff;
    font-size: 14px;
}

.ui-accordion .ui-accordion-content a {
    color: #0a7bc2;
}

/* UTILITY MENU */

.header .utility-nav > ul > li.sprite {
	height: 18px;
	width: 23px;
	margin: 1.6em 0 0 1em;
	padding: 0;
}

.header .utility-nav > ul > li.sprite > a {
	display: inline-block;
	height: 18px;
	width: 23px;
	padding: 0;
	text-indent: -9999px;
	overflow: hidden;
}

.header .utility-nav > ul > li.facebook {
	background-position: -156px -21px;
	width: 16px;
}

.header .utility-nav > ul > li.facebook:hover,
.header .utility-nav > ul > li.facebook:focus {
	background-position: -156px -40px;
}

.header .utility-nav > ul > li.twitter {
	background-position: 0 -22px;
}

.header .utility-nav > ul > li.twitter:hover,
.header .utility-nav > ul > li.twitter:focus {
	background-position: 0 -40px;
}

.header .utility-nav > ul > li.instagram {
	background-position: -25px -22px;
}

.header .utility-nav > ul > li.instagram:hover,
.header .utility-nav > ul > li.instagram:focus {
	background-position: -25px -40px;
}

.header .utility-nav > ul > li.linkedin {
	background-position: -49px -22px;
}

.header .utility-nav > ul > li.linkedin:hover,
.header .utility-nav > ul > li.linkedin:focus {
	background-position: -49px -40px;
}

.header .utility-nav > ul > li.contactus {
	background-position: -173px -22px;
}

.header .utility-nav > ul > li.contactus:hover,
.header .utility-nav > ul > li.contactus:focus {
	background-position: -173px -40px;
}

.main-nav > ul > li > ul > li > a {
	padding: 0 1.6em;
}

/* FOOTER STYLES */

.social-media > li > a.linkedin {
	background-position: -49px -22px;
}

.social-media > li > a.linkedin:hover,
.social-media > li > a.linkedin:focus {
	background-position: -49px -40px;
}

/* CONTENT STYLES */

.the-content ul li {
	margin: 0px !important;
    padding-bottom: 0.8em;
}

.the-content ul li {
	background: url("../img/layout/bullet-arrow-close.png") 0px 4px no-repeat !important;
}

.the-content .border-top {
	border-top: 1px solid #d6d6d6;
	margin-top: 20px;
	padding-top: 20px;
}

.the-content .border-bottom {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.the-content img {
	margin-bottom: 30px;
}

.submit-btn {
	background: #21890d
}

.common-btn {
	font-size: 12px;
	height: auto;
	margin-bottom: 10px;
	margin-right: 10px;
	line-height: 20px;
	padding: 0.6em 1.5em;
}

.page-nav > ul > li > ul.sub-menu > li {
	padding: 0 0 .8em 0;
}

/* REGISTRATION BUTTON */

.the-content .registerbtn {
	color: #fff;
	background: #3ca428;
	padding: .6em 1.2em;
	border-radius: .3em;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

.the-content .registerbtn:hover {
	background: #ffcc00;
}

/* ACCORDION STYLES */

.the-content .accordion {
	margin-bottom: 2em;
	/*border: 1px solid #d6d6d6;
	border-radius: 10px;*/
}

.the-content .accordion > p {
	margin: 0;
}

.the-content .accordion > br {
    display: none;
}

.the-content h3 {
	font-family: gotham_regular;
}

.accordion .accordion-title {
	border-top: #d6d6d6 1px solid;
	padding: 0.8em 2em 0.8em 2em;
	margin: 0;
	background: url("../img/layout/sprite.png") 13px -199px no-repeat;
	cursor: pointer;
}

.accordion .accordion-title:nth-child(1) {
	border-top: #d6d6d6 0px solid;
}

.accordion .accordion-title:hover {
	text-decoration: none;
	color: #0a7bc2;
	background-color: #eee;
}

.accordion .accordion-title.open {
	font-family: gotham_bold;
	background-color: #eee;
	color: #0a7bc2;
	background-position: 12px -366px;
	border-bottom: 1px solid #d6d6d6;
}

/*.accordion .accordion-title.open:nth-child(1), .accordion .accordion-title:nth-child(1):hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}*/

.accordion .accordion-content {
	background: #eee;
	padding: 0 2em 1.7em 2em;
	border-top: 1px solid #fff;
}

/*.accordion .accordion-content:nth-last-child(1), .accordion .accordion-title:nth-last-child(1):hover {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}*/

.accordion .accordion-content ul li ul {
	margin: .9em .9em 0;
}

.accordion .accordion-content h6 {
	font-family: gotham_regular;
	font-weight: normal;
}

/* TESTIMONIALS */

.testimonial-quote {
    margin: 0 0 20px 0;
    padding: 20px 10px 20px 60px;
    background: transparent url("../img/layout/blockquote.png") no-repeat 0 20px;
    border-color: #e0e0e0;
    border-width: 1px 0;
    border-style: dotted;
}

.testimonial-details {
    font-size: 0.9em;
    line-height: 18px;
    margin-top: 10px;
}

/* RFP STYLES */

.the-content .request-deadline {
	padding: 1.2em 0 0 0 !important;
}

.the-content .requestbanner {
	margin-bottom: 20px;
}

/* UPDATES TO RELATED DOCUMENTS */

.page-documents {
	padding: 1.5em;
	background: #eee;
}

.page-documents .page-document .media-body {
	padding-top: .5em;
}

.page-documents .page-document h2 {
	width: 80%;
	margin-bottom: .3em;
}

/* HOMEPAGE MAIN CONTENT */

.main-content-home {
	padding: 1em 0 1.5em;
}

/* HERO IMAGE SLIDESHOW */

.home .hp-feature .hf-content-block {
	width: auto;
}

.home .hp-feature .hf-content-block > h1 {
	background: #000;
	background: rgba(0, 0, 0, 0.75);
	font-family: gotham_bold;
	-o-text-shadow: 1px 1px 4px #333333;
	text-shadow: 1px 1px 4px #333333;
}

.home .hp-feature .hf-content-block > .hf-content-block-inner {
	background: #000;
	background: rgba(0, 0, 0, 0.75);
	padding: 1em 1.4em 1.2em 1.4em;
	font-size: 23px;
	display: inline-block;
}

.home .hp-feature .hf-content-block > .hf-content-block-inner > p {
	font-size: 16px;
	line-height: 1.2;
	margin: 0;
}

.home .hp-feature .hf-content-block > .hf-content-block-inner a {
	color: #fff;
	text-decoration: none;
}

.home .hp-feature .hf-content-block > .hf-content-block-inner a:hover, .home .hp-feature > .hf-content-block > .hf-content-block-inner a:focus {
	text-decoration: underline;
}

.home .hp-callouts .grid > .grid-content > h1 {
	font-size: 20px;
}

.home .hp-feature .slick-prev {
	left: 12px;
}

.home .hp-feature .slick-next {
	right: 26px;
}

.slick-prev:before, .slick-next:before {
	font-size: 36px;
}

.home .hp-feature .slick-dots {
	bottom: 0;
}

.home .hp-feature .slick-dots li {
	margin: 0;
}

.slick-dots li button:before {
	color: #FFF;
	font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: #FFF;
}

/* HOMEPAGE SPONSORS AND PARTNERS */

.sponsors-partners h2 {
	margin-bottom: 15px !important;
	font-family: gotham_regular !important;
	font-size: 12px;
	text-align: center;
	text-transform: none !important;
	border-bottom: none !important;
	-webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}

.sponsors-partners .image-container {
	display: table;
	margin: auto;
}

.sponsors-partners > .grid img {
	margin: 0 1em 3em;
	max-width: 175px;
    height: auto;
    max-height: 50px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}

/* HOMEPAGE CALLOUTS */

.hp-callouts .event-title {
	margin-bottom: .2em !important;
}

.hp-callouts .event-date {
	margin-bottom: .8em;
	font-size: 15px;
	color: #0a7bc2;
}

.hp-callouts .event-register-btn {
	margin-top: 7px;
}

.hp-callouts .event-register-btn a {
	background: #0a7bc2;
	padding: .5em 1.2em;
	border-radius: .3em;
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-family: gotham_medium;
}

.hp-callouts .event-register-btn a:hover {
	background: #000;
}

/* CORPORATE PARTNER LOGO */

.home .corporatepartner {
	font-size: 12px;
	text-align: center;
}

.home .corporatepartner img {
	padding-top: 0.6em;
}

.home .prt-badge {
	text-align: center;
	margin-bottom: 10px;
}

/* MISC */

.media-aside {
	padding-top: .5em;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

/* PERSPECTIVES SINGLE PAGE */

#perspectives-content a {
	word-wrap: break-word;
}

#perspectives-content #topstory {
	font-size: 14px;
	margin-bottom: 20px;
}

#perspectives-content #topstory img, #perspectives-content #ceotopstory img, #perspectives-content .sub-article img {
	float: right;
	padding-left: 1.5em;
	padding-bottom: 7px;
	max-width: 435px;
	height: auto;
}

#perspectives-content #topstory h1 {
	font-size: 1.5em;
}

#perspectives-content .sub-article {
	border-top: 1px solid #D6D6D9;
	padding: 20px 0;
}

#perspectives-content .sub-article img {
	max-width: 250px;
}

#perspectives-content #didyouknowbox, #perspectives-content #newsbox, #perspectives-content #ceo2, #perspectives-content #ceo3, #perspectives-content #sendusyournews, #perspectives-content #opportunities, #perspectives-content #upcomingevents, #perspectives-content #reminders {
	background: #eee;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 1.5em;
	margin-bottom: 20px;
}

#perspectives-content #sendusyournews, #perspectives-content #opportunities, #perspectives-content #upcomingevents, #perspectives-content #reminders {
	background: none;
	border: 1px solid #eee;
}

#perspectives-content #didyouknowbox h1, #perspectives-content #newsbox h1, #perspectives-content #ceo2 h1, #perspectives-content #ceo3 h1, #perspectives-content #sendusyournews h1 {
	color: #592188;
	font-size: 1.5em;
	font-family: gotham_medium;
}

#perspectives-content #jobsandevents, #perspectives-content #opportunities, #perspectives-content #upcomingevents {
	height: 100%;
}

#perspectives-content .newsletter-banner {
	padding-bottom: 1.5em;
}

#perspectives-content  .corporate-partner {
	text-align: center;
	max-width: 250px;
	height: auto;
	margin: auto;
	font-size: 11px;
}

/* DOWNLOAD MANAGER */

.w3eden .media-heading {
	line-height: 1.3em;
    margin: 0;
}

.w3eden h4, .w3eden .h4 {
    font-family: gotham_regular;
    font-size: 15px;
}

.w3eden h4 a {
    text-decoration: none;
}

.w3eden img.wpdm_icon {
	width: 18px;
}

.w3eden img {
	margin-bottom: 0;
}

.w3eden .container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.w3eden table.dataTable.no-footer {
	border-bottom: 1px solid #ddd;
}

.w3eden .thumbnail, .w3eden .img-thumbnail {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.w3eden .btn-download {
    background: #21890d;
    padding: 6px 13px;
    border-radius: 4px;
    margin: 4px 5px 4px 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
}

.w3eden .btn-download:hover {
	background: #000;
	text-decoration: none;
	color: #fff;
}

#wpdmmydls {
	margin-top: 10px;
	/*border: none !important;
	border-radius: 0 !important;*/
}

.dataTables_wrapper .dataTables_filter {
	padding-bottom: 20px;
}

#wpdmmydls small, .dataTable small {
	visibility: hidden;
	display: none;
}

#wpdmmydls th {
	min-width: 100px;
}

.w3eden ul, .w3eden ol {
	margin-left: 30px;
	margin-right: 20px;
	font-size: 13px;
	list-style-type: disc;
}

.w3eden li {
	margin-bottom: 3px;
}

.w3eden .table>thead>tr>th, .w3eden .table>tbody>tr>th, .w3eden .table>tfoot>tr>th, .w3eden .table>thead>tr>td, .w3eden .table>tbody>tr>td, .w3eden .table>tfoot>tr>td {
	padding: 11px;
	font-size: 14px;
	/*border: none !important;*/
}

.w3eden .table>thead>tr>th {
	border-bottom: none;
	vertical-align: middle;
}

.w3eden b, .w3eden strong {
	font-weight: normal;
}

.file-info .back {
	background: #0a7bc2 !important;
	margin-bottom: 30px;
}

.w3eden .file-info {
	padding: 15px 0;
	margin: 15px 0;
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
}

.single-wpdmpro .tags-title {
	font-family: gotham_bold;
}

.w3eden .download, .file-info .back {
	color: #fff;
	text-decoration: none;
	margin-bottom: 30px;
}

.w3eden .download:hover, .file-info .back:hover {
	text-decoration: none;
	background: #ffcc00;
}

.w3eden .thumbnail {
	padding: 10px;
}

/* Download Manager Data Table */

.w3eden .file-title {
	width: 45% !important;
}

.w3eden .file-categories {
	width: 25% !important;
}

.w3eden .file-date, .file-download {
	width: 15% !important;
}

.w3eden .package-title {
	color: #428BC9 !important;
}

/* Resources Page */

.facetwp-results {
	clear: both;
}

.facetwp-template ul.facetwp-results li {
	border-bottom: 1px solid #e6e6e6;
	margin: 0 0 0.8em;
	padding-bottom: 0.8em;
}

.facetwp-template ul.facetwp-results li:last-child {
	border-bottom: none;
}

.facetwp-template ul.facetwp-results li .title a {
	color: #0a7bc2;
	font-size: 20px;
}

.facetwp-template ul.facetwp-results li .title a:hover {
	color: #333333;
}

.facetwp-template ul.facetwp-results li .tags {
	/* clear: both;
	padding-top: 10px;*/

}

.facetwp-template ul.facetwp-results li .tags .tag {
	min-height: 0;
	padding: 7px;
	border-radius: 8px;
	border: 1px solid #d6d6d6;
	max-width: 100%;
	margin: 0 5px 5px 0;
	font-size: 0.9em;
}

.facetwp-template ul.facetwp-results li .date, .facetwp-template ul.facetwp-results li .icon, .facetwp-template ul.facetwp-results li .size {
	line-height: 30px;
}

.facetwp-template ul.facetwp-results li .icon [class^="icon-cic-"], .facetwp-template ul.facetwp-results li .icon [class*=" icon-cic-"] {
	font-size: 1.75em;
}

.facetwp-template ul.facetwp-results li .wpdm_icon {
	width: 2em;
}

.facetwp-template ul.facetwp-results li .title {
	margin-bottom: 0em;
}

.facetwp-template ul.facetwp-results li .content {
	margin: 0.25em 0 1em 0;
}

.facetwp-counts {
	margin: 0 0 1em;
}

.facetwp-sort {
	float: right;
}

.allresources .facetwp-content {
	display: block !important;
}

.facetwp-content .facetwp-results li .downloads {
    float: left;
    margin: 0 20px 0 10px;
    font-size: 85%;
    height: 40px;
    line-height: 30px;
}

/* Resources Widgets */

.resources-widget-area {
	margin-bottom: 10px;
}

.w3eden .common-btn {
    padding: 0.5em 1em;
    margin: 20px 0 30px;
    background: #428bca;
    color: #fff;
}

.w3eden .common-btn:hover {
	background: #000;
	text-decoration: none;
	color: #fff;
}

.resources-latest-uploads, .resources-top-download {
	padding: 0 0 10px 0;
	margin: 0 20px 10px 0;
	border-bottom: 1px dotted #d6d6d6;
}

.resources-latest-uploads .wpdm_icon, .resources-top-download .wpdm_icon {
	width: 24px;
}

.resources-latest-uploads h4, .resources-top-download h4 {
	font-size: 14px;
	line-height: 1.3em;
	margin-top: 0;
	margin-bottom: 3px;
}

.resource-file-size {
	margin-right: 7px;
	padding-right: 7px;
	border-right: 1px solid #d6d6d6;
}

.w3eden:last-child .resources-latest-uploads:last-child, .w3eden:last-child .resources-top-download:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.resource-widget {
	float: left;
	border-right: 1px solid #d6d6d6;
	width: 48%;
	margin-right: 2%;
	padding-right: 10px;
}

/* INITIATIVES */

.factsbox {
	float: right;
}

.initiative .infobox {
	padding: 20px;
	background: #eeeeee;
	border-radius: 10px;
	margin: 0 0 10px 10px;
}

.initiative .infobox h1 {
	font-family: gotham_regular;
	color: #0a7bc2;
}

.initiative .infobox ul li {
	margin-left: 0;
}

.initiative .infobox ul li, .initiative .infobox p {
	padding-bottom: 14px;
	font-size: 0.9em;
}

.initiative .partners {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}

.initiative .partners a {
	text-decoration: none;
}

.initiative .partners ul {
	float: left;
	display: inline;
	position: relative;
	width: 48%;
	margin-right: 2%;
	margin-bottom: 0;
}

.initiative .partners li {
	padding-bottom: 0.3em;
}

.initiative .initiatives-logo, .leadershipdevelopment .leadershipdevelopment-logo {
	margin: 30px 0 50px;
}

.page-template-page-international .international h3 {
    font-size: 24px;
    color: #c44f57;
}

.initiative-lp-fastfacts {
	margin-bottom: 20px;
	border-top: 1px dotted #d6d6d6;
}

/* POLICY FOCUS */

.fastfacts {
	float: right;
	width: 45%;
    margin-left: 2%;
}

.relatedcontent {
    margin-top: 20px;
}

.relatedcontent ul {
	margin: 0;
}

.relatedcontent li {
	padding-bottom: 0.4em;
}

/* NEWS CENTRE & RESOURCES */

/*.news-centre {
	width: 76.67811%;
}*/

.news-centre .latest-news {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.news-centre .latest-perspectives {
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.news-centre a.readmore {
	text-decoration: underline !important;
	font-weight: bold;
}
.news-centre .lastrow {
    margin-bottom: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.news-centre h1.title {
	font-family: gotham_regular;
}
.news-centre .btn-common {
	padding: .3em .7em;
	margin: 20px 0;
	border: none;
	background: #0a7bc2;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
}
.news-centre .btn-common:hover {
	background: #000;
}
.news-centre .thumbnail-medium {
	margin-bottom: 15px;
	width: 282px;
	max-width: 100%;
	height: 155px;
	overflow: hidden;
}
.news-centre .thumbnail-large {
	margin-bottom: 15px;
	max-width: 564px;
	max-height: 310px;
	overflow: hidden;
}

.news-centre .common-listings .common-listing {
	padding: 1em 0;
}

.news-centre .calls-for-submission .common-listings .common-listing {
	border-top: none;
}

.common-listings .common-listing > h2 > a:hover, .common-listings .common-listing > h2 > a:focus {
	text-decoration: none;
}

/* Colleges in the News */
.collegesinthenews {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

/* Top Stories */
.news-centre .ncsidebar {
	padding: 20px;
	background: #eeeeee;
}
.news-centre .ncsidebar h1 {
	font-family: gotham_regular;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 1em;
	margin-bottom: 0;
}
.ncsidebar article.story, .subscribe article.story {
	border-bottom: 1px solid #dbdbdb;
	padding: 10px 0;
}
.ncsidebar article.story h2, .subscribe article.story h2 {
	text-transform: uppercase;
	font-size: 13px;
	color: #666;
}
.ncsidebar article.story h3, .subscribe article.story h3 {
	font-size: 14px;
	font-family: gotham_regular;
	margin-bottom: 2px;
}
.ncsidebar article.story a, .subscribe article.story a {
	text-decoration: none;
}

/* Lead Stories */
.news-centre .leadstories h1 {
	font-family: gotham_regular;
	font-size: 21px;
}
.leadstories article.leadstory {
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 20px;
}
.leadstory img {
	/* width: 100%; */
}
.leadstories article.leadstory h2 {
	text-transform: uppercase;
	font-size: 0.9em;
	color: #666;
}
.leadstories article.leadstory a.newsrelease-title {
	text-decoration: none;
}

/* Subscribe */
.news-centre .subscribe {
	padding: 20px;
	background: #eeeeee;
}
.news-centre .subscribe h1 {
	font-family: gotham_regular;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 1em;
	margin-bottom: 0;
}
.news-centre .subscribe .mc-field-group input {
	width: 100%;
	border: none;
	height: 2em;
	border-radius: 5px;
}
.news-centre .subscribe .mc-field-group {
 	padding-top: 8px;
}

#mc-embedded-subscribe-form input[type="text"], #mc-embedded-subscribe-form input[type="email"]  {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 14px;
    outline: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#mc-embedded-subscribe-form input[type="text"]:focus, #mc-embedded-subscribe-form input[type="email"]:focus {
    border: 2px solid #0a7bc2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#mc-embedded-subscribe-form input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #0a7bc2;
    border: 2px solid #0a7bc2;
    outline: none;
    color: #FFF;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#mc-embedded-subscribe-form input[type="submit"]:focus, #mc-embedded-subscribe-form input[type="submit"]:hover {
    background: transparent;
    color: #0a7bc2;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

/* Featured News Archive Page */
.featured-news .common-btn {
	margin-top: 1em;
}

/* Staff Directory */

.staff-member-listing {
	margin: 10px 0 40px;
}

.staff-member-info-wrap {
	margin-bottom: 10px;
	border-bottom: 1px solid #d6d6d6;
	padding: 4px 0;
}

h3.staff-member-name {
	margin-bottom: 0;
	font-size: 18px;
}

h4.staff-member-position {
	font-size: 14px;
	font-family: gotham_regular;
}

.staff-member-info-wrap .staff-col1 {
	float: left;
	width: 48%;
	margin-right: 1%;
}

.staff-member-info-wrap .staff-col2 {
	float: right;
	width: 48%;
	margin-left: 1%;
	text-align: right;
}

/* Staff Members */

.staff-members .teams-dropdown .btn-primary {
    background-color: #0a7bc2;
}

.staff-members .teams-dropdown ul li {
    padding: 0;
    background: none !important;
}

.staff-members .teams-dropdown ul li a {
    padding: 7px 10px;
    text-decoration: none;
}

.staff-members .teams-dropdown-fixed {
    position: fixed;
    top: 0;
    padding: 20px 0 10px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}

.staff-members p {
    margin-bottom: 5px;
}

.staff-members .team {
    margin-top: 40px;
}

.staff-members .left-column, .staff-members .right-column {
    padding: 0;
}

.staff-members .right-column {
    text-align: right;
}

.staff-members .staff-member {
    margin: 0 0 10px;
    border-bottom: 1px solid #d6d6d6;
    padding: 4px 0;
}

.staff-members h3 {
    margin-bottom: 2px;
    font-size: 18px;
}

/* Page Callouts */

.page-callouts .grid_3 .the-more-link {
	background-position: 0 -778px;
	width: 100%;
	text-align: left;
	margin-top: 1em;
	padding: .3em 0 0 .8em;
	border-top: 1px solid #333333;
}

.page-callouts .grid_3 {
	font-size: 13px;
}

.page-callouts .grid_3 .feature-callout-excerpt {
	padding: 0 10px 0 0;
	line-height: 1.5em;
}

.page-callouts .grid_3 h1 {
	font-family: gotham_regular !important;
	font-size: 1.6em !important;
	padding-right: 10px;
}

.page-callouts .grid_3 h1 a {
	color: #0a7bc2 !important;
}

.page-callouts .grid_3 h1 a:hover {
	color: #333333 !important;
	text-decoration: none !important;
}

.page-callouts .grid_3 img {
	margin-bottom: 15px;
	width: 282px;
	height: 155px;
	overflow: hidden;
}

.page-callouts ul {
	list-style: inherit;
	padding: 0 0 0 1em;
}

.page-callouts ul li {
	padding: 0.4em 0;
}

.feature-callout-excerpt h2 {
	font-size: 16px;
	margin-bottom: 0;
	color: #21890d;
}

/* Events */

.tribe-events-button:nth-of-type(2) {
	display: none !important;
}

.tribe-events-list .tribe-events-event-cost {
	display: none;
}

.tribe-events-loop .type-tribe_events.tribe-events-last {
    margin-bottom: 2.25em;
    border-bottom: 1px solid #ddd;
}

#tribe-events #tribe-events-footer .tribe-events-sub-nav {
    border-top: none;
}

/* Event Submission Form */

#tribe-community-events small.req {
	font-style: normal !important;
    font-weight: normal;
	color: #ff0000 !important;
	font-size: 100%
}

#tribe-community-events label.error {
	font-size: 1em !important;
}

#tribe-community-events textarea {
    min-height: 150px;
}

#tribe-community-events input[type="text"], #tribe-community-events textarea {
    padding: 5px 10px;
    border: 1px solid #cdcbcd;
    font-size: 14px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#tribe-community-events input[type="text"]:focus, #tribe-community-events textarea:focus {
    border: 1px solid #0a7bc2;
    outline: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.tribe_community_edit select.ui-datepicker-month, .tribe_community_edit select.ui-datepicker-year {
    color: initial;
}

/* VISUAL FORM BUILDER */

input.vfb-medium, input[type="text"].vfb-medium, input[type="tel"].vfb-medium, input[type="email"].vfb-medium, input[type="url"].vfb-medium, select.vfb-medium {
	width: 50%;
	padding: 8px;
	border-radius: 5px;
	border: 0px solid #d6d6d6;
}

textarea.vfb-medium {
	border: none;
}

.visual-form-builder .vfb-legend {
	margin: 5px 0;
	padding: 10px 0;
	color: #0a7bc2;
}

.visual-form-builder fieldset {
	padding: 0 25px 25px;
	border: none;
	border-radius: 10px;
}

ul.vfb-section {
	margin: 0px !important;
	padding: 0px !important;
}

ul.vfb-section li {
	padding: 5px 0 !important;
}

.vfb-submit, input[type="submit"].vfb-submit {
	padding: 9px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
	background-color: #0a7bc2;
	color: #fff;
}

.vfbp-form h1 {
	margin-bottom: 0;
}

.vfbp-form h2 {
	border-bottom: 1px solid #d6d6d6;
	padding-top: 20px;
	padding-bottom: 7px;
	color: #1c7ebb;
}

.vfbp-form .submit-btn {
	background: #21890d
}

.vfb-wizard.actions .btn-next, .vfb-wizard.actions .btn-back, .vfbp-form .submit-btn  {
	width: 15%;
	margin-top: 20px;
	border-radius: 5px;
	font-weight: bold;
}

.vfbp-form label {
	margin-bottom: 0;
}

.vfb-control-label {
	margin-top: 12px;
}

.vfb-wizard ul {
	margin-bottom: 30px;
	padding-left: 0 !important;
}

.vfb-wizard ul>li {
	background: none;
	margin-left: 0;
	text-align: center;
	width: auto;
	display: inline-block;
	float: none;
	padding-left: 0;
	margin-bottom: 0.5em;
}

.vfb-wizard ul>li div {
	font-size: 13px;
	font-weight: bold;
}

.vfb-col-1, .vfb-col-2, .vfb-col-3, .vfb-col-4, .vfb-col-5, .vfb-col-6, .vfb-col-7, .vfb-col-8, .vfb-col-9, .vfb-col-10, .vfb-col-11, .vfb-col-12 {
	padding-left: 0;
}

.vfbp-form .vfb-form-control {
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0.075);
}

.vfbp-form .vfb-form-control, .intl-tel-input input[type=tel] {
	margin-top: 5px !important	;
}

.vfb-wizard ul>li div .number {
	font-size: 1em;
}

.vfbp-form .btn-primary:hover, .vfbp-form .btn-primary:focus, .vfbp-form .btn-primary.focus, .vfbp-form .btn-primary:active, .vfbp-form .btn-primary.active, .vfbp-form .open>.dropdown-toggle.btn-primary {
	background-color: #000;
}

/* EASY COLUMNS */

.content-column.one_fourth.small {
	width: 20%;
}

.one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    margin-top: 10px;
    padding-right: 1%;
}

.content-column.last_column {
    padding-left: 2%;
}

/* MEMBER PAGES */

.mem h1 {
	font-family: gotham_regular;
    line-height: 1.2em !important;
}

.mem h1 { font-size: 24px; }
.mem h2 { font-size: 18px; font-family: gotham_bold; }

.mem ul {
    padding-left: 0;
}

.mem-content {
	width: 78%;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.mem-bucket {
	width: 47%;
	margin-right: 3%;
	float: left;
}

.mem-bucket ul li {
	background: url("../img/layout/list-bullet.png") 0 0.6em no-repeat !important;
	padding-bottom: 0.2em;
}

.mem-bucket ul {
	margin: 0;
}

.mem-logo {
	padding: 10px 0;
	max-width: 300px;
	max-height: 225px;
}

.mem-stats {
	text-align: center;
	width: 18%;
	float:right;
}

.mem-stats h1 {
	margin-bottom: 10px;
    font-size: 1.2em;
}

.mem-stats h2 {
	font-size: 2.2em;
    font-family: gotham_bold;
    line-height: 1em;
    margin: 0;
    color: #0a7bc2;
}

.mem-stats h6 {
    font-size: 0.9em;
    margin: 0;
    font-family: gotham_regular;
    font-weight: normal;
}

.mem-stats a {
	text-decoration: none;
}

.mem-stats ul {
	margin: 0;
}

.mem-stats ul li {
    padding: 12px 0 10px;
    border-top: 1px solid #d6d6d6;
    background: none !important;
}

.mem-stats ul li:first-child {
    border-top: none;
}

.mem-stats img {
	width: 30px;
	margin: 10px 0 10px;
}

.mem-contactinfo {
	margin: 30px 0 0;
	padding: 30px 0 0;
	border-top: 1px solid #d6d6d6;
}

.mem-contact {
	float: left;
	margin-right: 50px;
	max-width: 310px;
}

.mem-contact img {
	margin-right: 10px;
}

.mem-googlemap {
	float: right;
	max-width: 500px;
	border-radius: 10px;
}

.mem-googlemap img {
	border-radius: 15px;
	margin-bottom: 0;
}

.mem-footer {
	border-top: 3px solid #d6d6d6;
	border-bottom: 3px solid #d6d6d6;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.mem-updated {
	font-size: 0.9em;
	font-style: italic;
	text-align: right;
}

.member-bite {
    border: 1px solid #d6d6d6;
    padding: 20px;
    margin: 20px 0;
}

.member-bite-logo {
	display: table-cell;
	vertical-align: middle;
}
.member-bite-logo img {
	padding: 0 20px 0 0;
	margin-bottom: 0 !important;
	max-width: 200px;
	max-height: 120px;
}

.member-bite-excerpt {
	display: table-cell;
	vertical-align: middle;
}

 /* MEMBERS LANDING PAGE */

.memberslist .facetwp-content {
    display: block;
    padding: 1em 0 0 0;
}

.memberslist .facetwp-template ul.facetwp-results {
    width: 45%;
    float: left;
    clear: none;
    margin-right: 0%;
}

.memberslist .facetwp-template ul.facetwp-results:only-of-type {
    width: 90%;
}

.memberslist .facetwp-template ul.facetwp-results:first-child {
    margin-right: 10%;
}

.memberslist .facetwp-template ul.facetwp-results li {
    border-bottom: 0px solid #e6e6e6;
    padding: 0 0 0.5em 0.9em;
    margin: 0;
    background: url("../img/layout/sprite.png") 0 -210px no-repeat;
}

.memberslist .facetwp-selections {
	margin: 0 0 1em;
}

.memberslist .facetwp-selections ul {
	margin: 0;
}

.memberslist .facetwp-selections li {
    font-size: 21px;
    background: none !important;
    padding-left: 0;
    padding: 0 20px 0 0;
    margin: 0;
}

.memberslist .facetwp-selections li::after {
	display: none;
}

.memberslist .facetwp-btn {
	display: none;
}

.memberslist .facetwp-facet {
	margin-bottom: 10px;
}

.memberslist #facets {
    padding-top: 25px;
}

.memberslist .facetwp-dropdown {
	-webkit-appearance: none;
    padding: 6.5px;
    background: url("../img/layout/bullet-arrow-open.png") #fff no-repeat 98%;
}

/* INTERACTIVE MAP */

.page-template-page-members-interactive-map .main {
	padding: 0 !important;
}

.members-map, .members-map .the-content {
	padding: 0;
}

.members-map input.radio {
    display: inline-block;
	margin-right: 2px;
}

.members-map label {
	margin-right: 10px;
}

.members-map-title {
    position: absolute;
    z-index: 99;
    width: 350px;
    margin: 30px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}

.members-map-title h1 {
    color: #ffcc00;
    font-size: 38px;
    font-family: gotham_light;
    margin-bottom: 30px;
}

.google-map a.map-view-more {
    background: #0a7bc2;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 7px;
    font-family: gotham_bold;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
}

.google-map span.tag {
    float: right;
    color: #999;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 0 5px 5px;
    border-radius: 7px;
    font-family: gotham_bold;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    border: 1px solid #d3d3d3;
}

.google-map h3 {
    margin-top: 5px;
    color: #0a7bc2;
}

.google-map p {
    line-height: 20px;
}

/* FACET RESULTS */

.facetwp-btn {
    top: 7px !important;
}

#facets .facetwp-facet .facetwp-search {
    width: 95%;
}

.resultlist .facetwp-content {
    display: block !important;
    padding: 1em 0 0 0;
}

.resultlist .facetwp-facet {
	margin-bottom: 10px;
}

.facetwp-results .list-of-results {
	padding: 0.8em !important;
	border-bottom: 0;
}

.facetwp-results .list-of-results:nth-child(odd) {
	background: #eee;
}

.resultlist .facetwp-selections li {
    font-size: 21px;
    background: none !important;
    padding-left: 0;
    padding: 0 20px 0 0;
    margin: 0;
}

.resultlist .facetwp-btn {
    display: none;
}

.facetwp-pager {
    display: none;
}

.facet-loading {
    margin: auto;
    width: 20px;
    height: 20px;
    background: url('../img/layout/loading.png') no-repeat;
    background-size: 20px 20px;
    -webkit-animation: rotate 700ms infinite linear;
    -moz-animation: rotate 700ms infinite linear;
    animation: rotate 700ms infinite linear;
}

/* Applied Research */

/*.applied-research header {
	margin-bottom: 50px;
	border-bottom: 1px solid #d6d6d6;
}*/

/*.applied-research h1.page-title {
	margin-bottom: 10px;
	padding-bottom: 0;
	color: #A3C57F;
	font-size: 36px;
	font-family: gotham_light;
	border-bottom: none;
}*/

/*.applied-research h2 {
	color: rgba(0,0,0,0.5);
	font-size: 21px;
	font-family: gotham_medium;
}*/

.applied-research h2.ar-terms {
	color: #A3C57F;
}

.applied-research .facetwp-btn {
	display: none;
}

.applied-research .facetwp-counts {
	width: 100%;
}

.applied-research .facetwp-content {
	display: block !important;
}

.applied-research .facetwp-results .list-of-stories {
	padding: 20px !important;
	border-bottom: 0;
}

.applied-research .facetwp-results .list-of-stories:nth-child(even) {
	background: #eee;
}

.applied-research .quotes {
	font-weight: 600;
	color: #A3C57F;
}

.applied-research .ar-stories {
	margin: 20px 0;
}

.applied-research .featured-image {
	float: right;
	margin: 0 0 20px 20px;
	max-width: 400px;
	height: auto;
	/*-webkit-clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 25% 100%, -45% 0%);
	clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 25% 100%, -45% 0%);*/
}

.applied-research .featured-image img {
	float: right;
	max-width: 400px;
	height: auto;
}

/*.applied-research p, .applied-research a, .applied-research li {
	font-size: 16px;
}*/

/* CEO Blog */

.ceoblog h3 {
	font-family: gotham_bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
}

.ceoblog h1 {
    text-align: center;
    font-size: 2em;
}

.ceoblog .blog-main-img {
	text-align: center;
    padding-bottom: 20px;
}

.ceoblog .blog-main-img img {
	width: 500px;
	border-radius: 10px;
}

.ceoblog .blog-main-img-caption {
	font-style: italic;
	font-size: 0.9em;
}

.ceobio img {
	display: block;
	margin: 0 auto 1em;
}

.ceobio p {
	font-size: 14px;
}

/* Media Page */

.mediapage .grid_2 {
	width: 48.44206%;
}

.mediapage .logos {
	position: relative;
	height: 270px;
}

.mediapage .logo {
	margin-bottom: 1em;
}

.mediapage .logo img {
	display: block;
	margin: auto;
	width: 300px;
	height: auto;
}

.mediapage .downloadpackage {
	float: none;
	margin: auto;
}

.mediapage .download {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.mediapage .shareables.download {
	position: relative;
	float: none;
	clear: both;
	margin: auto;
	width: 75%;
}

.mediapage .w3eden h4 {
	font-size: 14px;
}

.mediapage hr {
	margin: 2em 0;
}

/* Board of Directors */

.board-of-directors .row [class*="col-"] {
    position: relative;
    height: 375px;
}

.board-of-directors .row img, img.bod {
    margin-bottom: 10px;
    width: 175px;
    max-width: 100%;
    height: auto;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.9;
}

.board-of-directors .row h1 {
    display: block;
    margin-left: 15px;
    padding: 1em 0 0.3em;
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.board-of-directors h4, .board-of-directors h4 a {
    font-size: 14px;
}

.board-of-directors p, .board-of-directors a {
    font-size: 13px;
}

.board-of-directors a {
    cursor: pointer;
}

.board-of-directors .sprite {
    height: 18px;
    width: 23px;
    padding: 0;
    list-style: none;
    background-color: #0a7bc2;
}

.board-of-directors #bod-twitter {
    position: absolute;
    bottom: 0;
    margin: 20px 0;
    padding: 0.3em 0.7em;
    left: 120px;
    -webkit-transform: translateX(-50%); /* Chrome <36, Safari 5.1+, iOS < 9.2, Android =<4.4.4 */
    -ms-transform: translateX(-50%); /* IE 9 */
    transform: translateX(-50%); /* IE 10, Fx 16+, Opera 12.1+ */
}

.board-of-directors .row span.twitter {
    display: inherit;
    background-position: -209px -40px;
    background-color: transparent;
}

.board-of-directors .row a.btn-common {
    position: absolute;
    bottom: 0;
    padding: 0.3em 0.7em;
    margin: 20px 0;
    border: none;
    background: #0a7bc2;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
}

.board-of-directors .row hr {
    margin-bottom: 30px;
    width: 100%;
}

/* GRAVITY FORMS */

.gform_body ul li {
	background: none !important;
	padding-left: 0;
}

.gform_wrapper .chosen-container-single .chosen-single {
    height: 30px;
    padding: 2px 0 0 8px;
    background: transparent;
}

.gform_wrapper .chosen-container-active.chosen-with-drop .chosen-single {
    background: transparent;
}

.gform_wrapper .chosen-container-single .chosen-single div {
    top: 3.5px;
}

.gform_wrapper .chosen-container .chosen-results li.highlighted {
    color: #FFF;
    background-color: #0a7bc2 !important;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
	border: 1px solid #d6d6d6;
}

.gform_wrapper textarea.medium {
	border: 1px solid #d6d6d6;
}

.gform_wrapper h2.gsection_title {
	margin: 20px 0 0 !important;
}

.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
	font-weight: normal;
}

.gform_wrapper h3.gform_title {
    font-size: 24px;
    color: #0a7bc2;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper #add {
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #0a7bc2;
    display: inline-block;
    color: #fff;
    width: auto;
    height: 31px;
    text-decoration: none;
    padding: 1em;
    border-radius: .5em;
    font-family: gotham_regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 10px;
    font-weight: bold;
    border: 0px;
}

.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio] {
    margin-left: 1px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio], .gform_wrapper.gf_browser_chrome .gfield_checkbox li input {
    margin-top: 3px;
}

.gform_wrapper .gfield_list_icons img {
    margin: 10px 0 20px !important;
}

.gform_wrapper .media-file-upload .gfield_list_2_cell1 {
    width: 60%;
}

.gform_wrapper .media-file-upload .gfield_list_2_cell2 {
    width: 30%;
}

.gform_wrapper .ginput_container_fileupload input.medium {
    border: none !important;
}

.gform_wrapper .media-upload-description {
    padding-top: 50px !important;
}

.gform_wrapper #add {
    margin-top: 50px;
}

/* AdRotate Pro */
.g img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* Logomania */
.logomania .slick-prev {
    left: 10px;
}

.logomania .slick-next {
    right: 25px;
}

.logomania .slick-prev:before, .logomania .slick-next:before {
    color: #0a7bc2;
}

.logomania .slick-slide img {
    margin: auto;
}

.logomania .logomania-content-block-inner h3 {
    margin-top: 10px;
    font-family: gotham_regular;
    font-size: 18px;
    text-align: center;
    color: #0a7bc2;
}

/* Magnific Popup */

/* Overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* Overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* Overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* Content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* Content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* Content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

@media screen and (max-width: 62em) {
    .board-of-directors hr {
        display: none;
    }
}

@media screen and (max-width: 58em) {
    .mem-logo {
        max-width: 100%;
        height: auto;
    }

    .mem-content {
        width: 62.5%;
    }

    .mem-stats {
        width: 32.5%;
    }

    .mem-googlemap {
        float: none;
    }
}

@media screen and (max-width: 55em) {
    .home .hp-feature .slick-dots {
        display: none !important;
    }

	.sponsors-partners h2 {
		margin-bottom: 0 !important;
	}

	.sponsors-partners > .grid img {
		margin: 15px 15px 30px;
        max-width: 75px;
	}
}

@media screen and (max-width: 48em) {
    .home .slick-slide img {
        max-width: 125%;
    }

    .home .hp-feature .hf-content-block {
        margin-top: -30%;
    }

    .home .hp-feature .hf-content-block {
        padding: 1em 1.4em 1.2em 1.4em;
    }

    .home .hp-feature .slick-prev, .home .hp-feature .slick-next {
        display: none !important;
    }
}

@media screen and (min-width: 58em) and (max-width: 74.063em) {
    .mem-contact {
        margin-right: 1%;
        width: 49%;
    }

    .mem-googlemap {
        max-width: 49%;
    }
}

@media screen and (max-width: 32em) {
    .home .slick-slide img {
        max-width: 200%;
    }

    .home .hp-feature .hf-content-block {
        margin-top: -60%;
    }

    .home .hp-feature .hf-content-block > .hf-content-block-inner {
        width: 100%;
    }

    .home .hp-feature .slick-prev, .home .hp-feature .slick-next, .home .hp-feature .slick-dots {
        display: none !important;
    }

    .sponsors-partners {
    	padding: 0 0 1em 0;
    }

    .sponsors-partners > .grid img {
        margin: 8.5px;
        max-width: 50px;
    }

    img.site-logo {
        max-width: 200px;
        height: auto !important;
    }

    .mem-stats {
        clear: both;
        float: left;
        width: 100%;
    }

    .mem-content {
        width: 100%;
    }

    .mem-bucket {
        margin-bottom: 20px;
        width: 100%;
    }

    .board-of-directors .row [class*="col-"] {
        margin-bottom: 30px;
        width: 100%;
    }

    .board-of-directors .row a.btn-common {
        position: inherit;
        float: left;
    }

    .board-of-directors #bod-twitter {
        position: relative;
        display: inline-block;
    }
}

@media screen and (min-width: 48em) {
	.page-callouts .grid_3 .grid-content {
	    margin-bottom: 4em;
	}
	.page-callouts .grid_3 .the-more-link {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.page-callouts .grid_3:first-child {
	    margin-left: 0;
	}
	.news-centre .grid-row .grid_2 {
		width: 47.44206%;
    	margin-right: 1.03004%;
	}
}

@media screen and (min-width: 48em) {

	/* Homepage Hero Slideshow */

	.home .hp-feature .hf-content-block {
		width: 60%;
		position: absolute;
		top: 18.75%;
		left: 7%;
	}

	.home .hp-feature .hf-content-block > h1 {
		background: none;
		font-size: 35px;
		text-align: left;
		margin-bottom: .2em;
		padding: 0;
	}

	.home .hp-feature .hf-content-block > .hf-content-block-inner > p {
		font-size: 20px;
	}

	.home .hp-callouts .grid img {
		margin-bottom: 1em;
	}

    .home .hp-callouts .grid_4 {
        width: 272px !important;
    }

	.home .hp-callouts .grid_4 .grid-content {
		margin-bottom: 3em;
		font-size: 15px;
	}

}

@media screen and (min-width: 55em) {

	/* Homepage Hero Slideshow */

	.home .hp-feature .hf-content-block > h1 {
		font-size: 45px;
	}

	.home .hp-feature .hf-content-block > .hf-content-block-inner > p {
		font-size: 20px;
	}

	#tribe-events-pg-template #tribe-events-content-wrapper {
		padding-right: 0;
	}

}

@media screen and (min-width: 67.05em) {

	/* Homepage Hero Slideshow */

	.home .hp-feature .hf-content-block > h1 {
		font-size: 58px;
	}

	.home .hp-feature .hf-content-block > .hf-content-block-inner > p {
		font-size: 23px;
	}
}

@media screen and (min-width: 74.063em) {

 	/* Homepage Hero Slideshow */

	.home .hp-feature .hf-content-block {
		top: 25%;
	}

}

 /* PRINT HEADER */

.print-header {
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 20px;
}

.print-header img {
	width: 200px;
	float: right;
}

.print-header h1 {
	margin-bottom: 0;
	margin-top: 10px;
	float: left;
	font-size: 21px !important;
}