@media print {
	* {
	    background: transparent !important;
	    color: #000 !important;
	    box-shadow: none !important;
	    text-shadow: none !important;
	}
	
	body {
    	border-bottom: 0 solid #000;
	}
	
	a,
	a:visited {
	    text-decoration: none;
	}
	
	a[href]:after {
	    display: none;
	    content: none;
	}
	
	abbr[title]:after {
		content: none;
	}
	
	.ir a:after,
	  	a[href^="javascript:"]:after,
	  	a[href^="#"]:after {
	    	content: "";
		}
	
	pre,
	blockquote {
	    border: 1px solid #999;
	    page-break-inside: avoid;
	}
	
	thead {
	    display: table-header-group;
	}
	
	tr,
	img {
		page-break-inside: avoid;
	}
	 
	header, footer {
		  display: none;
	}
	
	.web-only {
		display: none !important;
	}
	
	.print-only {
    	display: block;
	}
	
	.container {
		margin: 0;
	}
	
	.main-content, .main-content-home {
		padding: 0;
	}
	.page-title {
		display: block;
	}
	
	.the-content {
		line-height: 1.3em;
		font-size: 11px;
		padding: 0;
		margin: 0;
	}
	
	.mem-logo {
	    padding: 10px 0px;
	    width: 200px;
	}
	
	.the-content img {
		margin-bottom: 20px;
	}
	
	.the-content h1 {
		font-size: 20px;
	}
	
	.the-content h2 {
		font-size: 16px;
	}
	
	.the-content ul {
	    padding-left: 1.2em;
	}
	
	.the-content ul li {
	    list-style: disc;
	    padding-left: 0;
	    padding-bottom: 0.1em;
	}
	
	.boxit {
		padding: 0;
		margin-bottom: 0;
	}
	
	.mem-stats .boxit {
		border: 1px solid #d6d6d6;
		padding: 15px;
		margin-bottom: 20px;
	}
	
	.mem-stats h1 {
		font-size: 16px;
		color: #0a7bc2 !important;
	}
	
	.mem-stats h2 {
		color: #0a7bc2 !important;
	}
	
	.mem-stats ul {
		padding: 0;
	}
	
	.mem-stats ul li {
	    padding: 12px 0 10px;
	    border-top: 1px solid #d6d6d6;
	    background: none !important;
	    list-style: none;
	}
	
	.accordion .accordion-title {
		padding: 0;
		border-top: #d6d6d6 0px solid;
		background: url("../img/layout/sprite.png") -999px -999px no-repeat;
	}
	
	.accordion .accordion-content {
		display: block !important;
		padding: 0;
		background: #fff;
	}
	
	@page {
		margin: 1.5cm;
	}
	p,
	h2,
	h3 {
	    orphans: 3;
	    widows: 3;
	}
	
	h2,
	h3 {
	    page-break-after: avoid;
	}
}
